body {
  font-family: "Inter", sans-serif;
}
.sidebar-item.active {
  background-color: #1d4ed8;
  color: white;
}
.modal {
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
.modal.hidden {
  visibility: hidden;
  opacity: 0;
}
.table-auto th,
.table-auto td {
  white-space: nowrap;
}
